@import url("/Public/components/alert/alert.css");
.navigation-output{
    border: 1px solid var(--primary-color);
    padding: 8px;
}
.image-logo{
    max-width: 10rem;
    border-radius: 50% 50% 0% 0%;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    width: 100%;
}
.nav-logo-LinkItems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}
.text-logo{
    color: var(--background-colorWhite);
}
.nav-search-icons{
    display: flex;
    justify-content:space-around;
    width: 60%;
}
.input-area{
    height: 34px;
}
.nav-search-icons .cart-icon {
    margin-top: 2px;
}



