@import url("/Public/components/avatar/avatar.css");
:root{
    --primary-color:#f59e0b;
    --secondary-color:#374151;
    --background-color: #F3F4F6;
    --background-colorWhite:white;
    --background-colorGreen:green;
    --background-colorYellow:yellow;
    --background-colorRed: red;
    --primary-colorAlert:#bfdbfe;
    --secondary-colorAlert:#e5e7eb;
    --success-colorAlert:#a7f3d0;
    --danger-colorAlert:#fca5a5;
    --warning-colorAlert:#fef3c7;
    --grayTex-color:gray;
    --rightsreserved-color:rgba(255, 255, 255, 0.596);
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    margin: 0;
}
/* nav bar style */
.nav-bar{
    border-bottom: 3px solid var(--primary-color);
    display: flex; 
    justify-content: space-between;
}
/* nav logo style */
.logo-text{
    color: var(--primary-color);
    font-size: 24px;
    text-align: center;
    padding: 16px;
}
.separation{
    color: var(--secondary-color);
    font-size: 16px;
}
/* nav links style */
.documentation-link{
    padding: 16px;
    margin-top: 8px;
    cursor: pointer;
}
.nav-button{
    border-radius: 5px;
    background-color: var(--background-colorWhite);
    border-width: 1px;
    cursor: pointer;
    margin-right: 18px;
    height: 28px;
    width: 120px;
    border: 2px solid var(--primary-color);
}
.nav-button:hover{
    background-color: var(--primary-color);
}
.docs:hover{
    background-color: var(--primary-color);
}
.github:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
}
/* main content */
.main-container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 477px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
}
.main-heading{
    font-size: 36px;
}
.main-content{
    font-size: 16px;
}
.main-button{
    border-radius: 5px;
    background-color: var(--background-colorWhite);
    border-width: 1px;
    cursor: pointer;
    margin-right: 18px;
    height: 36px;
    width: 150px;
    border: 2px solid var(--primary-color);
    font-size: 16px;
}
.documentions{
    background-color: var(--primary-color);
    color:black;
}
.footer{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 24px;
    color: var(--background-color);
    font-size: 16px;
}
.link-style{
    text-decoration: none;
    color:var(--background-color);
    padding: 8px;
    font-size: 16px;
}
.rights-reserved{
    color: var(--rightsreserved-color);
    font-size: 10px;
}
.social-links{
    padding-top: 8px;
    padding-bottom: 8px;
}
/* installation style */
#installation-container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
}
.installation-iframe{
    display: flex;
    justify-content: center;
}