@import url("/main.css");
/* aside bar style */
.main-container{
    display: flex;
    flex-direction: row;
}
.aside-bar{
    padding: 16px;
    top: 0px;
}
.aside-heading{
    padding-left: 48px;
}
.list-item{
    list-style: none; 
    cursor: pointer;
    padding: 8px;
    cursor: pointer;
    opacity: 0.9;
}
.list-item:hover{
    background-color: var(--primary-color);
    opacity: 1.0;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
/* section content style */
.section-content{
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
}
h2 h1 h3 {
    letter-spacing: 1px;
    font-weight: bold;
}
p{
    color: var(--secondary-color);
}
.highlight-text-color{
    color: var(--primary-color);
}
/* Alert style */
.alert-content{
    display: flex;
    justify-content: center;
}
.alert-output{
    border:1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}
.alert-box{
    border:1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 8px;
    margin: 16px;
    font-weight: bold;
}
.primary-alert{
    background-color: var(--primary-colorAlert);
}
.secondary-alert{
   background-color: var(--secondary-colorAlert);
}
.success-alert{
    background-color: var(--success-colorAlert);
    color: var(--background-colorGreen);
}
.danger-alert{
    background-color:var(--danger-colorAlert) ;
    color: var(--background-colorRed);
}
.danger-alert .fas .fa-exclamation-triangle{
    color: var(--background-colorRed);
}
.warning-alert .fas .fa-exclamation-triangle{
    color: color(--primary-color);
}
.warning-alert{
    background-color: var(--warning-colorAlert);
    color:var(--primary-color);
}
iframe{
    padding-top: 16px;
     padding-left: 16px;
}
.close-button{
    background-color:var(--warning-colorAlert) ;
    border: none;
    float: right;
    padding: 6px;
    cursor: pointer;
}
.reset-button{
    background-color:var(--primary-color) ;
    border: 1px solid var(--secondary-color);
    padding: 8px;
    cursor: pointer;
}
/* Media queries */
@media (max-width:1200px){
    .aside-bar{
        display: none;
    }
}