@import url("/Public/components/alert/alert.css");
.avatar-output{
    border: 1px solid var(--primary-color);
    padding: 8px;
}
.avatar{
    padding: 16px;
}
.sm{
    border-radius: 50%; 
    height: 48px;
}
.md{
    border-radius: 50%; 
    height: 72px;
}
.lg{
    border-radius: 50%; 
    height: 96px;
}
.avatar-iframe{
    padding: 8px;
}