@import url("/Public/components/alert/alert.css");
.avatar-output{
    border: 1px solid var(--primary-color);
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}
.avatar{
    border-radius: 50%; 
}
.xs{
    height: 36px;
}
.sm{
    height: 48px;
}
.md{
    height: 72px;
}
.lg{ 
    height: 96px;
}
.avatar-iframe{
    padding: 8px;
}
