@import url("/Public/components/alert/alert.css");
.button-output{
    border: 1px solid var(--primary-color);
    display: flex;
    padding: 24px;
}
.btn{
    padding: 4px 16px;
    margin-left: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.btn.btn-icon{
    border:none;
    font-size: 24px;
    border-radius: 50%;
    background-color: inherit;
    padding: 8px;
    height: 42px;
    width: 42px;
}
.btn-icon:hover {
    background-color: var(--primary-color);
}
.btn-primary{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn-secondary{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--background-color);  
}
.btn-primary-outline{
    background-color: var(--background-color);
    border:2px solid var(--primary-color);
}
.btn-primary-outline:hover{
    background-color: var(--primary-color);
}
.btn-secondary-outline{
    background-color: var(--background-color);
    border:2px solid var(--secondary-color);
}
.btn-secondary-outline:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
}
.btn-link{
    border:none;
    background-color: var(--background-color);
    text-decoration: underline;
    font-size: 24px;
    color: var(--primary-color);
    opacity: 0.8;
}
.btn-link:hover{
    opacity: 1.0;
}
.btn-disabled{
    opacity: 0.5;
}
.btn-disabled:hover{
    cursor:not-allowed;
}
.close-btn{
    background-color: var(--background-color);
    border: none;
}

