@import url("/Public/components/alert/alert.css");
.image-output{
    border: 1px solid var(--primary-color);
    display: flex;
    padding: 24px;
}
.image-responsive{
    width: 100%;
    height: 100%;
}
.round-image-output{
    border: 1px solid var(--primary-color);
    display: flex;
    padding: 24px;
}
.round-image{
    border-radius: 50%;
}